/* Selectors */
h1, h2, h3, h4, h5, h6 {
  font-family: Impact;
  text-align: center;
  color: aliceblue;
  font-size: xx-large;
}

p, li, b, label {
  font-family: Verdana;
  list-style-type: none;
  color: aliceblue;
}

div {
  position: relative;
}

/* Box model */

/* * {
  margin: 75%;
  padding: 75;
  border-block: ;
  border-block-color: black;
  width: 300px;
            
        </section>
  border: 15px black;
  padding: 15%;
  margin: 20px;
}
 */

 /* Pseudoelements demo */
*::selection {
  background: black;
}

body {
    background-color: navy;
    /* background-image: url("../../webiasa19fall/image/background.jpeg"); */
    text-align: center;
  }

  /* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */

table {
  border-collapse: collapse;
  font-weight: normal;
}

th {
  border: 1px solid gray;
}
td {
  border: 1px solid gray;
}

footer, form {
   position: relative;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

/* pseudo classes */

a {
  color: darkgray;
  font-style: oblique;
}

/* classes */

.black_box{
  background-color:black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.section {
  height: 100vh;
  position: relative;
  margin-top: 15%;
  margin-bottom: 0%;
}

a.visited {
  color: darkgray;
  font-style: oblique;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  width: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 1%;
  /* margin: 1%; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: small;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: gray;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}