<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../css/style.css"></style>
    </head>
    <body>
        <header>
            Trolleybus 1
        </header>
        <main>
            <section>
                <table>
                    <tr>
                        <th>Start station</th>
                        <th>End station station</th>
                    </tr>
                    <tr>
                        <th>6:45</th>
                        <th>7:45</th>
                    </tr>
                    <tr>
                        <th>7:00</th>
                        <th>8:00</th>
                    </tr>
                    <tr>
                        <th>7:15</th>
                        <th>8:15</th>
                    </tr>
                    <tr>
                        <th>8:00</th>
                        <th>9:00</th>
                    </tr>
                    <tr>
                        <th>10:45</th>
                        <th>11:45</th>
                    </tr>
                    <tr>
                        <th>22:00</th>
                        <th>23:00</th>
                    </tr>
                </table>
            </section>

            <article>
                Here are the details about this route.
            </article>

            <aside>
                Add this route to favourites.
            </aside>
        </main>
        <footer>
            
        </footer>
    </body>
</html>