<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../css/style.css"></style>
    </head>
    <body>
        <header>
            <p>Trolleybus 1</p>
        </header>
        <main>
            <section>
                <table align="center">
                    <tr>
                        <th>Start station</th>
                        <th>End station station</th>
                    </tr>
                    <tr>
                        <th><time>6:45</time></th>
                        <th><time>7:45</th><time>
                    </tr>
                    <tr>
                        <th><time>7:00</th><time>
                        <th><time>8:00</th><time>
                    </tr>
                    <tr>
                        <th><time>7:15</th><time>
                        <th><time>8:15</th><time>
                    </tr>
                    <tr>
                        <th><time>8:00</th><time>
                        <th><time>9:00</th><time>
                    </tr>
                    <tr>
                        <th><time>10:45</th><time>
                        <th><time>11:45</th><time>
                    </tr>
                    <tr>
                        <th><time>22:00</th><time>
                        <th><time>23:00</th></time>
                    </tr>
                </table>
            </section>

            <article>
                Here are the details about this route.
            </article>

            <aside>
                Add this route to favourites.
            </aside>
        </main>
        <footer>
            
        </footer>
    </body>
</html>