{%extends "layout.html"%}
{%block content%}
    <main>



        <section class="section">
            <article>
                <header>
                    {% if current_user.is_authenticated %}
                        <h1>Hi, {{current_user.first_name}}!</h1>
                    {% else %}
                        <h1>Your transit made easier</h1>
                    {% endif %}
                </header>
                <ul>
                    <h2>Our mission is to:</h2>
                    <li>Provide you with <span style="font: oblique;">up-to-date</span> shedule for public transport</li>
                    <li>Give you <span style="font: oblique;">relavant</span> trip suggestions using Moovit widget</li>
                    <li>Collect your favourite routes in one place</li>
                </ul>
            </article>                   
        </section>

        <!-- fix this link with uri_for -->
        <div align="center" class="row">
            <div align="center" class="column">
                <!-- <figure>
                    <img src="static/image/bus.jpeg" >
                    <figcaption><a href="bus.html" class="black_box">Buses</a></figcaption>
                </figure> -->

                <a href="bus.html" title="buses  section" target="_blank">
                    <img src="static/image/bus.jpeg">
                    <figcaption><p class="black_box">Buses</p></figcaption>
                </a>

                <a href="trolleybus.html" title="trolleybuses section" target="_blank">
                    <img src="static/image/trolleybus.jpeg">
                    <figcaption><p class="black_box">Trolleybuses</p></figcaption>
                </a>

                <a href="marshrutka.html" title="marshrutkas section" target="_blank">
                    <img src="static/image/marshrutka.jpeg">
                    <figcaption><p class="black_box">Marshrutkas</p></figcaption>
                </a>

                <a href="tram.html" title="trams section" target="_blank">
                    <img src="static/image/tram.jpeg">
                    <figcaption><p class="black_box">Trams</p></figcaption>
                </a>

                <a href="metro.html" title="metro section" target="_blank">
                    <img src="static/image/metro.jpeg">
                    <figcaption><p class="black_box">Metro</p></figcaption>
                </a>
            </div>
        </div>
            
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                var ro = !!d.getElementById(id);
                js = d.createElement(s); js.id = id;
                js.src = "https://widgets.moovit.com/ws/9407353B5C73B8B7E0530100007FFB76/3157400";
                fjs.parentNode.insertBefore(js, fjs);
            })(document, 'script', 'moovit-jsw');</script>
        
        <section class="section">
            <div align="center" title="Navigation manager" class="mv-gd-widget-20" 
                data-width="1000" 
                data-height="500"
                data-id="3157400" 
                style="align-content: center; position: relative;">
            </div>
        </section>

        <section class="section">
            <form>
                <h2>Please, help us make our service better!</h2>
                <p>Give us some feedback</p>
                <fieldset>
                    <input type="radio" name="good">
                    <label for="good">Great product! I would like to pay for the service</label>     
                    <br>
                    <input type="radio" name="Useless">
                    <label for="Useless">Quite good, use it on a daily basis</label>
                    <br>
                    <input type="radio" name="Bad">
                    <label for="Bad">I am not ready to pay for this</label>
                </fieldset>
            </form>            
        </section>
        <p><a href="#top">Top</a></p>
    </main>
{%endblock%}
