<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../css/style.css">
        <!-- <link rel="action" href="../../js/moovit.js"> -->
        <title>EasyTransit</title>
    </head>
    <body>
        <p><a name="top"></a></p>
        <nav class="topnav">
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html" target="_blank">Blog</a></li>
                <li><a href="contact.html" target="_blank">Contact</a></li>
            </ul>
        </nav>
        {%block content%}{%endblock%}
        <footer>
            <p>Here is your footer</p>
        </footer>
    </body>
</html>